h2 {
border: 10px solid #3D3A4B;	
background-color: #3D3A4B;
color: white;
padding: 5px;
display:inline;

}
footer {
background-color: #9de1fc;
font-style: italic;
text-align: center;
}
body {
  width: 1200px;
  margin: auto;
  border: 10px solid #3D3A4B;
  padding-top: 50px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;
  background-color: #e7e7e7;
  }
div.header {
  width: 1200px;
  text-align: center;
  margin: auto;
  padding-bottom: 25px;
  color: white
}
div.heading {
  background-color: #3D3A4B;
  width: 1220px;
  height: 50px;
}
div.member {
  margin: auto;
  margin-bottom: 10px;
  border: 8px solid #9de1fc;
  padding-top: 50px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.nav {
  background-color: #9de1fc;
  list-style-type: none;
  text-align: center;
  margin: auto;
  padding: 10;
  width: 1200px;
}
.nav li {
  display: inline-block;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding: 20px;
}
/* Dropdown Button */
.dropbtn {
  background-color: #3D3A4B;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #777581;}

.button {
  background-color: #3D3A4B;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #777581;
}

table, td, th {
    border: 1px solid rgb(31, 31, 31);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 3px 14px 3px 14px;
    text-align: left;
}
